.nav{
    background-color: rgb(73, 212, 45);
    padding: 20px;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;

}
body{
    text-align: center;
    background-color: rgb(62, 78, 62);
}

*{
    padding: 0;
    margin: 0;
}
h1,h3,img,p{
    margin-top: 40px;
}
p{
    font-size: 70px;
    
}